---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

const {
  name,
  link,
  date = "",
  day,
  month,
  year,
  position = "",
  about,
  image_path = "",
  alt,
  hr = "1",
} = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/**/*.{jpg,jpeg,png,gif}"
);

const filename = image_path.split("/").pop();

let selectedImage;
for (const path in images) {
  if (path.endsWith(filename)) {
    const module = await images[path]();
    selectedImage = module.default;
    break;
  }
}
---

<h2>
  <a href={link} target="_blank" rel="noopener noreferrer">{name}</a>
</h2>

{
  date == "" ? (
    <p>
      Event held on:{" "}
      <strong> 
        {day} {month} {year}
      </strong>
    </p>
  ) : null
}

{position == "" ? <p /> : <p>Position: {position}</p>}

<p>{about}</p>

{
  selectedImage ? (
    <Image src={selectedImage} alt={alt} class="competition-project-images" />
  ) : (
    <p>Image not found: {image_path}</p>
  )
}
{hr == "0" ? <br /> <br /> <br /> <br />  : <hr />}
