---
const { icon, website, username = "", platform } = Astro.props;
---

<span>
  <img class="social-icons" src={`${icon.src}`} alt={`${website} icon`} />
  <a class="social-links" href={`${website}/${username}`} target="_blank">
    {platform}&nbsp;&nbsp;
  </a>
</span>
